{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Stock de Teléfonos</h4>
            <ul>
                {% for item in telefonos %}
                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                    <div style="margin-right: 10px;">
                        {{ item.stock }} unidades
                    </div>

                    <div style="flex-grow: 1;">
                        {{ item.telefono.modelo }} / {{ item.telefono.marca.nombre }}
                    </div>

                  
                    <form action="{{ url_for('stock') }}" method="POST"
                        style="display: flex; align-items: center; margin-right: 10px;">
                        <input type="hidden" name="telefono_id" value="{{ item.telefono.id }}">

                      
                        <div class="input-group">
                          
                            <input type="number" id="cantidad_{{ item.telefono.id }}" name="cantidad" class="form-control" placeholder="Cantidad"
                                aria-label="Cantidad" required>

                          
                            <button class="btn btn-outline-secondary" type="submit" name="accion" value="restar"
                                onclick="convertToNegative({{ item.telefono.id }})">eliminar</button>

                          
                            <button class="btn btn-outline-secondary" type="submit" name="accion" value="agregar">Agregar</button>
                        </div>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    function convertToNegative(telefonoId) {
        var inputField = document.getElementById('cantidad_' + telefonoId);
        var value = parseInt(inputField.value);
        
       
        if (value > 0) {
            inputField.value = -Math.abs(value);
        }
    }
</script>
{% endblock %}
